__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
.docs-venv
uv.lock
PKG-INFO
*.egg-info/
mutagen.yml.lock
mutagen.yml
.agents/local/personal_config.md
.codex
.pytest_cache
.github
runs/
run/
logs/
log/
output/
results/
outputs/
wandb/
runs/
data/
.idea

# 默认忽略模型权重文件
*.pt
